/* Rememberry Translate Popup */
#rb-tr-popup {
    position: absolute;
    z-index: 1;

    display: none;
    min-width: 100px;
    max-width: 300px;
    padding: 15px;

    text-align: left;
    color: black;

    border: 2px solid black;
    background-color: white;
}

#rb-tr-popup-header {}

#rb-tr-popup-close-btn {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 10px;
    height: 10px;

    font-size: 16px;
    text-align: center;
    line-height: 10px; /* Remove after Shadow DOM implementation */

    cursor: pointer;
}

#rb-tr-popup-body {
    min-height: 30px;
    margin-top: 5px;
}

#rb-tr-popup-body[loading]:after {
    content: 'Loading..';
    color: #ccc;
}

#rb-tr-popup .term-line-checkbox {
    margin-right: 5px !important;
}

#rb-tr-popup-footer {
    margin-top: 10px;
}

#rb-tr-popup-save-btn {}