body {
    width: 300px;
    height: 300px;
}

#container {
    width: 100%;
    height: 100%;
}

#source {
    height: 30px;

    text-align: center;
    font-size: 1.5em;
    line-height: 30px;

    border-bottom: 1px solid #000;
}

#translation {
    height: 230px;
    padding: 50px 30px;

    font-size: 1.5em;
    text-align: center;

    box-sizing: border-box;
}

#btns-area {
    height: 40px;

    text-align: center;
}

.btn {
    display: inline-block;
    width: 90px;
    height: 40px;

    font-size: 1.2em;
    line-height: 40px;

    border: solid 1px #000;
    cursor: pointer;
}

.btn:hover {
    color: #666;
}

.btn:active {
    color: #000;

    background-color: #ccc;
}

#mark-area {
    display: none;
}