/* Rememberry Translate Popup */
#rb-tr-popup {
    position: absolute;
    z-index: 1;

    min-width: 100px;
    max-width: 300px;
    padding: 15px;

    text-align: left;
    color: black;

    border: 2px solid black;
    background-color: white;
}

#rb-tr-popup-close-btn {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 10px;
    height: 10px;

    font-family: fantasy;
    font-size: 16px;
    text-align: center;
    line-height: 10px; /* Remove after Shadow DOM implementation */

    cursor: pointer;
}

#rb-tr-popup-body {
    min-height: 30px;
    margin-top: 5px;
}

#rb-tr-popup-body[loading] {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rb-tr-popup-body[loading]:after {
    color: #ccc;

    content: '__MSG_Translation__..';
}

#rb-tr-popup .pos-container:not(:first-child) {
    margin-top: 10px;
}

#rb-tr-popup .pos-container .header {
    color: grey;
    font-size: .9em;
    font-style: italic;
    text-align: right;

    border-bottom: 1px dotted #ccc;
}

#rb-tr-popup .pos-container .term[contenteditable] {
    outline: none;
}

#rb-tr-popup .term-line {
    margin: 4px 0;

    cursor: pointer;
}

#rb-tr-popup .term-line-checkbox {
    margin-right: 5px !important;
}

#rb-tr-popup-footer {
    margin-top: 10px;
}

#rb-tr-popup-footer button:focus {
    color: blue;

    outline: none;
}

#rb-tr-popup-footer button:not(:last-child) {
    margin-right: 5px;
}