/* Rememberry Translate Popup */
:host {
    position: absolute !important;
    z-index: 999999999 !important;
}

.body {
    min-width: 100px;
    max-width: 300px;
    padding: 15px;

    border: 2px solid black;
    background-color: white;
}

.close-btn {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 10px;
    height: 10px;

    font-family: fantasy;
    font-size: 16px;
    text-align: center;

    cursor: pointer;
}

.belly {
    min-height: 30px;
    margin-top: 5px;
}

.belly[loading] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belly[loading]:after {
    color: #ccc;

    content: '__MSG_Translation__..';
}

.pos-container:not(:first-child) {
    margin-top: 10px;
}

.pos-container .pos-header {
    color: grey;
    font-size: .9em;
    font-style: italic;
    text-align: right;

    border-bottom: 1px dotted #ccc;
}

.pos-container .term[contenteditable] {
    outline: none;
}

.term-line {
    margin: 4px 0;
}

.term-line-checkbox {
    margin-right: 5px !important;
}

.footer {
    margin-top: 10px;
}

.footer button:focus {
    color: blue;

    outline: none;
}

.footer button:not(:last-child) {
    margin-right: 5px;
}