@import 'common.css';

body {
    display: flex;
    width: 340px;
    min-height: 300px;
}

#test {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#message {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    font-size: 1.7em;
}

#source {
    text-align: center;
    font-size: 1.5em;
    line-height: 30px;

    border-bottom: 1px solid #000;
}

#translation-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 150px;
    padding: 10px 30px;

    font-size: 1.5em;

    box-sizing: border-box;
}

#btns-area {
    flex-shrink: 0;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 100px;
    min-width: 100px;
    height: 40px;
    padding: 0 10px;

    font-size: 1.2em;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;

    border: solid 1px #000;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.btn:hover {
    color: #666;
}

.btn:active {
    color: #000;

    background-color: #ccc;
}

#show-answer-btn {
    width: auto;
}